$primaryBtn: #2CE080;
$textColor: #03314b;
$secondTextColor: #3a4649;
$tabColor: #6D787E;
$tabBorderColor: #BAC8CE;
$bookProgressBar: #F1F6F4;
$bookCurrentProgress: #e1ecfc;
$whiteBackground: #FFFFFF;
$blackBackground: #000000;
$hoverColor: #0365f2;
$audioProgressBar: #24AC63;
$bannerBackground: #F4F8F9;
$slideBackground: #d7e9ff;
$featureSecTitle: #1775FC;
$deleteColor: #ff445d;
$tipColor: #0552be;
$bannerDarkBackground: #044063;
$yellowBack: #e6fc88;
$lightYellowBack: #f5ffc6;
$facebookIconBack: #3a579d;
$googleIconBack: #4285f4;
$dailyBackground: #8155FB;
